:root {
    --background-color: #ffe6d2;
    --text-color: #002883;
    --input-text-color: #002883;
    --input-border-color: #002883;
    --input-focus-border-color: #002883; /* Add a variable for input focus border color */
    --button-border-color: #002883;
    --button-hover-bg-color: #002883; /* Changed color */
    --button-hover-text-color: white;
    --popup-bg-color: #8ed8e9;
    --popup-shadow-color: rgba(0, 0, 0, 0.5);
    --close-popup-color: #002883;
    --close-popup-border-color: #002883;
    --close-popup-hover-color: darkgrey;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    position: relative;
}

.container {
    text-align: center;
    position: absolute;
    z-index: 10;
}

#three-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.title-container {
    margin-bottom: 1rem;
}

.subtitle-container {
    margin-top: 1rem;
}

.main-title {
    font-size: 7rem;
    font-weight: 300;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s steps(30, end), grow-and-shrink 1.5s 1.5s forwards;
    border-right: none; /* Remove the cursor line */
    margin-bottom: 1vh;
    margin-top: 2vh;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes grow-and-shrink {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    border-right: none; /* Initially no cursor */
    width: 0;
    animation: typing-subtitle 2.5s steps(40, end) forwards;
    animation-delay: 3s; /* Delay for the h1 animation to complete */
    margin-top: 1rem;
}

@keyframes typing-subtitle {
    0% { width: 0; border-right: none; } /* No cursor at start */
    1% { border-right: 2px solid var(--text-color); } /* Cursor appears */
    100% { width: 100%; }
}

.login-button {
    opacity: 0; /* Initially hidden */
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: 1px solid var(--button-border-color);
    padding: 10px 20px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1rem;
    transition: opacity 1s; /* Transition for fading in */
    border-radius: 20px;
    text-transform: uppercase;
    z-index: 10;
}

.login-button.show {
    opacity: 1; /* Show with fade-in effect */
}

.login-button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
}

.login-popup {
    display: none;
    position: absolute;
    top: 80px; /* Adjust this value to increase the gap */
    right: 20px;
    background-color: var(--popup-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--popup-shadow-color);
    z-index: 1000;
}

.login-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-popup h2 {
    font-weight: 300;
}

.login-popup input {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    text-transform: lowercase; /* Lowercase input */
    color: var(--input-text-color);
    background: none;
}

.login-popup input:focus {
    border-color: var(--input-focus-border-color); /* Keep border blue when focused */
    outline: none; /* Remove default outline */
}

.login-popup #password {
    margin-bottom: 20px;
}

.login-popup button {
    background: none;
    border: 1px solid var(--button-border-color);
    padding: 10px 20px;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
    text-transform: uppercase;
}

.login-popup button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
}

.close-popup {
    align-self: flex-end;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--close-popup-color);
    transition: color 0.3s;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1.5px solid var(--close-popup-border-color);
    line-height: 0;
}

.close-popup:hover {
    color: var(--close-popup-hover-color);
}

::placeholder {
    color: var(--input-text-color); /* Placeholder text color */
    opacity: 1; /* Fully opaque placeholder text */
}
